body {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: linear-gradient(0deg, #030303 0%, #171717 30%, #000000 100%);
    color:#fff
}
.title-container {
    display: flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 4px;

}
h1.title {
    font-size: 5vw;
    font-family:Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("./img/beach-mov.gif");
    background-position-y: 74%;
    background-position-x: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title {
    width: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; 
    background-image: linear-gradient(0deg, #000000 0%, #080808 50%, #000000 100%);
    background-color: #000000;
    border-radius: 4px;
}
.title-words{
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("./img/beach-mov.gif");
    background-size: cover;
    background-position-y: 75%;
}
.subheading {
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.25vw;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow:1px 1px 2px #000;

}
 /* The Modal (background) */
 .modal {
    
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #b7b7b7;
      background-image: linear-gradient(340deg, #b7b7b7 0%, #495466 100%);        
      margin: 5px auto; /* 15% from the top and centered */
      border: 4px outset #888;
      width:75%; /* Could be more or less, depending on screen size */
      border-radius: 4px;
    }
    
    /* The Close Button */
    .close {
      /* Position it in the top right corner outside of the modal */
      position: absolute;
      color: #000;
      font-size: 2.5vw;
      font-weight: bold;
      top: 12%;
      right:14%;
      border:1px solid black;
      border-radius: 2px;
      height: fit-content;
      padding-inline: 6px;
      background-color: #b7b7b7;
    }
    
    /* Close button on hover */
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
      background-color: #fff;
    }
    
    /* Add Zoom Animation */
    .animate {
     -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)}
      to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
    } 
    .imgcontainer{
        display: flex;
        justify-content: center;
    }
    .container-one {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .container{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.75vw;
        text-shadow:1px 1px 2px #000;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
        flex-wrap: wrap;
        padding-inline: 8px;
        max-height: 35px;
    }
    a.forgot {
        color: rgb(110, 152, 231);
        font-size: 1.4vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .login-container{
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }
    .main-button {
        width:12%;
        height:4.5vw;
        background: transparent;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.75vw;
        border-radius: 4px;
        cursor: pointer;
        border:1.5px solid white;
    }
    /* background affect on over*/
    .main-button:hover {
        background-image: url("./img/beach-mov.gif");
        background-position-y: 75%;
        color:#000000;
        border:1px solid black;
        outline: 2px double rgb(33, 53, 61);
        
    }
    .main-button:active {
        transform: translateY(1px);
    }
    .login-button {
        width:11%;
        font-weight: 600;
        letter-spacing: .75px;
        font-size:.95vw;
        cursor: pointer;
        max-height: 2.3vw;
    }
    .login-button:hover{
        background-color: rgb(214, 214, 214);
        border: 1px solid rgb(133, 133, 133);
        border-radius: 2px;
    }
    .login-button:active {
        transform: translateY(1px);
        border: 2px inset rgb(133, 133, 133);
    }
    .cancel-button{
        width:7vw;
        min-width:4em;
        letter-spacing: 1px;
        height:2em;
        font-size: 1.25vw;
        cursor: pointer;
    }
    .cancel-button:active {
        transform: translateY(1px);
    }
    .cancel-button:hover{
        background-color: rgb(203, 202, 202);
        border: 1px inset darkgray;
        border-radius: 2px;
    }
    .remember-me {
        font-size: 1.25vw;
        color:#f5f5f5eb
    }
    a {
        text-decoration: none;
        color:inherit;
    }
    input {
        max-height: 16pt;
        color:#131313;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
        font-size: 1.5vw;
        width: max-content;
    }