body {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #131313 30%, #000000 100%);
    color:#fff
}
.title-container {
    display: flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 4px;

}
h1.title.fire {
    font-size: 5vw;
    font-family:Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/fire.gif");
    background-position-y: 90%;
    background-position-x: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.fire{
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/fire.gif");
    background-size: cover;
    background-position-y: 100%;
}
h1.title.water {
    font-size: 5vw;
    font-family:Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/beach-mov.gif");
    background-position-y: 74%;
    background-position-x: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.water{
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/beach-mov.gif");
    background-size: cover;
    background-position-y: 75%;
}

h1.title.wind {
    font-size: 5vw;
    font-family: Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/blown-smoke.gif");
    background-position-y: 50%;
    background-position-x: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.wind {
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/blown-smoke.gif");
    background-size: cover;
    background-position-y: 50%;
}
h1.title.earth {
    font-size: 5.6vw;
    font-family:'Rubik Distressed', cursive;
    letter-spacing: 8px;
    background-image: url("../img/dry-earth.jpg");
    background-position-y: 50%;
    background-position-x: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
    animation: mymove 30s infinite;
}

.title-words.earth {
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/dry-earth.jpg");
    background-size: cover;
    background-position-y: 50%;
}
@keyframes mymove {
    50% {
      -webkit-filter: invert(100%); 
      filter: invert(100%);
    }
  }

.title {
    width: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; 
    background-image: linear-gradient(0deg, #000000 0%, #080808 50%, #000000 100%);
    background-color: #000000;
    border-radius: 4px;
}

.subheading {
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.25vw;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow:1px 1px 2px #000;

}
/* Style the tab buttons */
.tablink {
    background-color: #141414;   
    color: white;
    font-family: 'Rajdhani', sans-serif;
    float: left;
    border: 2px outset #2a2a2a;
    border-radius: 2px;
    box-shadow: 0 1px rgb(40, 40, 40);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.45vw;
    font-weight: 600;
    letter-spacing: 3px;
    width: 25%;
}
.tablink:active {
  box-shadow: 0 0px rgb(40, 40, 40);
  transform: translateY(1px);
}

/* Change background color of buttons on hover */
.tablink.fire:hover {    
    background-image: url("../img/fire.gif");
    background-position-y: 62%;
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}
.tablink.water:hover {
    background-image: url("../img/beach-mov.gif");
    background-position-y: 68%;
    color: black;
}
.tablink.wind:hover {
    background-image: url("../img/smoke.gif");
    background-size: cover;
    text-shadow: 1px 1px 2px rgb(56, 56, 56);
}
.tablink.earth:hover {
    background-image: url("../img/crack-earth.gif");
    background-blend-mode: hue rgb(5, 45, 5);
    color:white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  
}

/* Style each tab content individually */
#files {
    justify-content: center;
    background-image: url("../img/fire-vector.webp");
    background-position-y: 62%;
    background-size: cover;
}
#music {
    justify-content: center;
    background-image: url("../img/smoke.gif");
    background-size: cover;
    background-position-y: 20%;

}
#photo {
    justify-content: center;
    background-image: url("../img/water-texture.jpg");
    background-size: cover;
    animation: windMove 15s infinite;
}
@keyframes windMove {
    50% {
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
    }
  }

#videos {
    justify-content: center;
    background-image: url("../img/spin.gif");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position-y: 50%;
}
h2.cont-heading {
    margin-top:6%;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    letter-spacing: 6px;
    margin-bottom: 6%;

}
a {
    text-decoration: none;
    color:rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.65vw;
}
li {
    list-style: none;
    line-height: 125%;
}
audio {
    background-color: #00000a;
    background-image: linear-gradient(298deg, #00000a 0%, #7a7a81 66%, #ffffff 100%);
    border-radius: 20px;


}
.content{
    display:flex;
    width:70%;
    margin-top: 8%;
    margin-inline: auto;
}
.fire-head{
    font-family: 'Rajdhani', sans-serif;
    font-size: 21pt;
    letter-spacing: 3px;
    color: rgb(135, 156, 239);
}
.fire-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:10px;
}
li.fire-float{
    cursor: pointer;
    text-align: center;
    border:2px solid rgb(200, 200, 200);
    border-radius: 10px;
    height: 10vw;
    min-height: 90px;
    width: 10vw;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li.fire-float:hover{
    background-color: #00000a;
    background-image: linear-gradient(300deg, #00000a 0%, #454545 66%, #9c9b9b 100%);
    text-shadow: 1px 1px 2px black;
    border:2px outset rgb(200, 200, 200);
    transform: scale(105%);
}
li.fire-float:active{
    transform: translateY(1px);
    border:2px inset rgb(200, 200, 200);
}
#fire{

}
#smoke{

}
#water{

}
.earth-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    -webkit-overflow: auto;
    white-space: nowrap;
    height:240px;
    scroll-behavior:smooth;
    scroll-snap-type: proximity;
}
li.earth-listings {
    border:2px outset #aaaab0;
    box-shadow: 1px 1px 2px black;
    min-width:150px;
    min-height:150px;
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-right: 9%;
    padding:10px;
}
li.earth-listings:hover {
    border:2px outset #aaaab0;
    transform: scale(103%);

}
#earth{

}
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(117, 114, 132); 
    border-radius: 10px;
  }
   
  /* Handle */
  .earth-list::-webkit-scrollbar-thumb {
    background-color: #74829d;
    background-image: linear-gradient(95deg, #74829d 0%, #192f4d 50%, #001236 100%);
    border:2px solid black;
    box-shadow: solid 0 0 2px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:rgb(55, 55, 55);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .earth-list::-webkit-scrollbar-thumb:hover {
    background-color: #74829d;
    background-image: linear-gradient(95deg, #c6cede 0%, #33517b 50%, #010e28 100%);
  }
  * {
    box-sizing: border-box;
  }
  img {
    vertical-align: middle;
    text-align: center;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 3.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 20pt;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: flex;
    clear: both;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    -webkit-overflow: auto;
    white-space: nowrap;
  }
  .row{
    display:flex;
    min-height:11vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    -webkit-overflow: auto;
    white-space: nowrap;
  }
  
  /* Six columns side by side */
  .column {
    display:flex;
    width: 10vw;
    height:10vw;
    flex-direction: row;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.4;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .demo:hover{
    transform:scale(105%);
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.939);
    text-shadow: 1px 1px 2px black;
    margin-top: 10%;
    align-items: center;
    height:80px;
    padding-inline: 10%;
  }
  .footer:hover, .footer:active {
    background-image: url("https://www.memo.tv/wpmemo/wp-content/uploads/2018/07/waves2015c_64c.gif");
    filter:grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 58%;
    background-position-x: 69%;
    animation: fadeIn 1.2s ease-in;
}
@keyframes fadeIn {
    0% { opacity: 0.15; }
    100% { opacity: 1; }
  }
  .alex{
    display: flex;
    align-items: center;
    justify-content: center;
    height:max-content;
    width:max-content;
    cursor:crosshair;
    font-size: 1.4vw;
  }
  .feedback:hover{
    transform:scale(110%);
    color: #faedb0;
    text-decoration: underline;
  }
  .logout:hover{
    transform:scale(110%);
    text-decoration: underline;
  }

  /* The Feedback Modal (background) */
 .modal {
    
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(196, 196, 196);       
  margin: 5px auto; /* 15% from the top and centered */
  border: 4px outset #888;
  width:75%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  color: #000;
  font-size: 2.5vw;
  font-weight: bold;
  top: 12%;
  right:14%;
  border:1px solid black;
  border-radius: 2px;
  height: fit-content;
  padding-inline: 6px;
  background-color: #b7b7b7;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  background-color: #fff;
}

/* Add Zoom Animation */
.animate {
 -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 
.feed-body{
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.45vw;
  padding-inline:10%;
}
.feed-title{
    font-size: 2.5vw;
    color: #000;
    background-color: #929292;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.names{
  display:flex;
  justify-content: space-evenly;
  font-size: 1.45vw;
}

.feed-sub{
  margin-left:8%;
  width:92%;
  font-size: 1.6vw;
  background-color: #cdcdcd;
}
.subject{
  display:flex 2 1 auto;
  flex-wrap: wrap;
  margin-top: 10px;
}
.comments{
    margin-top: 10px;
}
.text-box{
  width:100%;
  font-size: 1.45vw;
  background-color: #cdcdcd;
}
