body {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #131313 30%, #000000 100%);
    color:#fff
}
.title-container {
    display: flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    border-radius: 4px;

}
h1.title.fire {
    font-size: 5vw;
    font-family:Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/fire.gif");
    background-position-y: 90%;
    background-position-x: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.fire{
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/fire.gif");
    background-size: cover;
    background-position-y: 100%;
}
h1.title.water {
    font-size: 5vw;
    font-family:Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/beach-mov.gif");
    background-position-y: 74%;
    background-position-x: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.water{
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/beach-mov.gif");
    background-size: cover;
    background-position-y: 75%;
}

h1.title.wind {
    font-size: 5vw;
    font-family: Segoe UI, "Rockwell Extra Bold";
    letter-spacing: 8px;
    background-image: url("../img/blown-smoke.gif");
    background-position-y: 50%;
    background-position-x: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
}

.title-words.wind {
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/blown-smoke.gif");
    background-size: cover;
    background-position-y: 50%;
}
h1.title.earth {
    font-size: 5.6vw;
    font-family:'Rubik Distressed', cursive;
    letter-spacing: 8px;
    background-image: url("../img/dry-earth.jpg");
    background-position-y: 50%;
    background-position-x: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-repeat: repeat;
    font-weight: 800;
    display: flex;
    flex-shrink: inherit;
    text-transform: uppercase;
    animation: mymove 30s infinite;
}

.title-words.earth {
    border: 6px solid rgb(7, 7, 7);
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url("../img/dry-earth.jpg");
    background-size: cover;
    background-position-y: 50%;
}
@keyframes mymove {
    50% {
      -webkit-filter: invert(100%); 
      filter: invert(100%);
    }
  }

.title {
    width: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; 
    background-image: linear-gradient(0deg, #000000 0%, #080808 50%, #000000 100%);
    background-color: #000000;
    border-radius: 4px;
}

.subheading {
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.25vw;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow:1px 1px 2px #000;

}
/* Style the tab buttons */
.tablink {
    background-color: #141414;   
    color: white;
    font-family: 'Rajdhani', sans-serif;
    float: left;
    border: 2px outset #2a2a2a;
    border-radius: 2px;
    box-shadow: 0 1px rgb(40, 40, 40);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.45vw;
    font-weight: 600;
    letter-spacing: 3px;
    width: 25%;
}
.tablink:active {
  box-shadow: 0 0px rgb(40, 40, 40);
  transform: translateY(1px);
}

/* Change background color of buttons on hover */
.tablink.fire:hover {    
    background-image: url("../img/fire.gif");
    background-position-y: 62%;
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}
.tablink.water:hover {
    background-image: url("../img/beach-mov.gif");
    background-position-y: 68%;
    color: black;
}
.tablink.wind:hover {
    background-image: url("../img/smoke.gif");
    background-size: cover;
    text-shadow: 1px 1px 2px rgb(56, 56, 56);
}
.tablink.earth:hover {
    background-image: url("../img/crack-earth.gif");
    background-blend-mode: hue rgb(5, 45, 5);
    color:white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  
}

/* Style each tab content individually */
#files {
    justify-content: center;
    background-image: url("../img/fire-vector.webp");
    background-position-y: 62%;
    background-size: cover;
}
#music {
    justify-content: center;
    background-image: url("../img/smoke.gif");
    background-size: cover;
    background-position-y: 20%;

}
#photo {
    justify-content: center;
    background-image: url("../img/water-texture.jpg");
    background-size: cover;
    animation: windMove 15s infinite;
}
@keyframes windMove {
    50% {
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
    }
  }

#videos {
    justify-content: center;
    background-image: url("../img/spin.gif");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position-y: 50%;
}
h2.cont-heading {
    margin-top:6%;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    letter-spacing: 6px;

}
a {
    text-decoration: none;
    color:rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
audio {
    background-color: #00000a;
    background-image: linear-gradient(298deg, #00000a 0%, #7a7a81 66%, #ffffff 100%);
    border-radius: 20px;


}
.content{
    display:flex;
    width:70%;
    margin-top: 8%;
    margin-inline: auto;
}
.fire-head{
    font-family: 'Rajdhani', sans-serif;
    font-size: 21pt;
    letter-spacing: 3px;
    color: rgb(135, 156, 239);
}
#fire{
    
}
#smoke{

}
#water{

}
#earth{

}